<h1>New Question</h1>
<div>
    <form>
        <div class="form-group">
            <label for="ask">Question:</label>
            {{input value=ask id="ask"}}
        </div>

        <div class="form-group">
            <label for="asker">Your Name:</label>
            {{input value=asker id="asker"}}
        </div>

        <div class="form-group">
            <label for="notes">Supplementary info:</label>
            {{input value=notes id="notes"}}
        </div>

        <button {{action 'save'}}>Save Question</button>
    </form>
</div>
