<h1>New Answer</h1>
<div>
    <form>
        <div class="form-group">
            <label for="answerer">Answerer</label>
            {{input value=answerer id="answerer"}}
        </div>

        <div class="form-group">
            <label for="answerContent">Answer</label>
            {{input value=answerContent id="answerContent"}}
        </div>

        <button {{action 'saveAnswer'}}>Save</button>
    </form>
</div>
