<div class="row">
    <div class="col-sm-9">
        {{#link-to 'question' question.id}}{{question.question}}<br>
        asked by: {{question.questioner}}{{/link-to}}
        <br>
        <br>
    </div>
</div>
